<!DOCTYPE html>
<html>
<head>
  <title>bombch.us - explosively short URLs</title>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
  <script type="text/javascript" src="/javascript/application.js"></script>
  <link  type="text/css" href="/css/home.css" rel="stylesheet" />
</head>
<body>
  <div id="page_wrapper">            
    <div id="floating_center">
      <div id="header">
        <h1>bombch.us</h1>
      </div>
      <div id="content">
        <input id="url_textbox" type="text" value="http://" />
        <input id="shorten_button" type="button" value="shorten" />
      </div>
      <div id="output"></div>
    </div>
  </div>
</body>
</html>